/*----------COLORS*/

$dark:#343A40;
$orange:#FF6600;
$home-color:#343A41;

/*-----------SIZES*/

$fontsize-header:1.1em;
$fontsize-home:4.4em;
$fontsize-user:1.5em;
$fontsize-cards:2.5em;
$fontsize-footer:2em;

/*-----------FONTS*/

$font: 'Lato', sans-serif;

